.panel {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media screen and (min-width: 800px) {
	.panel {
		background: white;
		position: absolute;
		top: 0px;
		right: 10px;
		height: 400px;
		width: 250px;
		border-radius: 20px;
		box-shadow: 3px 3px 10px grey;
	}
}

.panel-body, .panel-header, .panel-footer {
	width: 100%;
}

@media screen and (min-width: 800px) {
	.panel-body {
		margin-top: 10px;
		margin-bottom: 10px;
		flex-grow: 1;
		overflow-y: auto;
	}
}

.panel-close-icon {
	margin-right: 5px !important;
    margin-top: 5px !important;
	cursor: pointer;
	font-size: 1.4em !important;
}

@media screen and (max-width: 800px) {
	.panel-close-icon {
		display: none !important;
	}
}